:root {
  --header: rgba(34, 29, 63, 1);
  --standart:rgba(255, 255, 255, 0.94);
  --texto: #616161;
  --titulo: rgba(34, 29, 63, 1);
  --itens:rgba(217, 217, 217, 1);
}

body.darkcolors{
  --header: rgba(34, 29, 63, 1);
  --standart: rgba(26, 25, 38, 1);
  --texto: rgba(182, 182, 182, 1);
  --titulo:rgba(243, 242, 248, 1);
  --itens:rgba(34, 29, 63, 1);
}

body.blackcolors{
  --header:rgba(14, 10, 38, 1);
  --standart: black;
  --texto:rgb(177, 177, 177);
  --titulo:rgb(226, 226, 226);
  --itens:rgba(14, 10, 38, 1);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--standart)
}

/* --------------------------------------------------------- HEADER -------------------------------------------*/
header{
  background-color: var(--header);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  top: 0;
  z-index: 2;
}
/* -------------------- LOGO --------------------*/
.logo{
    display: flex;
    align-items: center;
    width: 5px;
    padding-left: 5px;
}

/* -------------------- NAV --------------------*/
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 100px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li :hover{
    color: rgba(102, 94, 137, 1);
}

nav ul li a.active {
    border-bottom: 4px solid rgba(102, 94, 137, 1);
    padding-bottom: 5px;
}

/*------------------------------------------- menu hamburguer -------------------------------------*/

.hamburger-menu {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    position: relative; 
    z-index: 3; 
    margin-bottom: 6px;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.nav-links {
    display: flex; 
}

/* -------------------- TEMAS --------------------*/
.temas{
    background-color: rgba(102, 94, 137, 1);
    border-radius: 30px;
    padding: 4px 10px 1px;
}
header button{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border-style: none;
}
#dark-mode{background-color:rgba(10, 3, 50, 1) }
#standart-mode{background-color: white}
#black-mode{background-color: black;}

/* ----------------------------------------------------------- HOME --------------------------------------------*/
#home{
    padding-top: 5rem;
    background-color: var(--header);
    color: #D9D9D9;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/* -------------------- TEXTOS --------------------*/
#titulo{
margin-top: 6rem;
margin-bottom: 3rem;
}

.textohome{
    font-size:4rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-weight: 9;
}

#subtitulo{
    font-size: 1.5rem;
    font-weight: 9;
    color: rgba(211, 210, 210, 1);
    margin-bottom: 5rem;
    margin-top: 0.5rem;

}

/* -------------------- QUIZ REDIRECT --------------------*/
#quizbotao{
    
}
#quizbotao h2{
    
}
#quiz{
    background-color: rgba(217, 217, 217, 1);
    border-style: none;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    width: 400px;
    height: 60px;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    color: var(--header);
    margin: 20px auto;
    font-size: 1.4rem;
    font-weight: 1000;
    white-space: nowrap; 
    cursor: pointer;
    padding: 5px;
    
}
#quiz p{
    width: 50px;
    height: 50px;
    background-color: var(--header);
    border-radius: 50%;
}
#quiz p img{
    margin-top: 10px;
}



/* --------------------------------------------------------- SEÇÕES --------------------------------------------*/

.secoes img{
    width: 100%;
}

.secoes{
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
  border-bottom: 1px solid #ccc;
}

.secoes h2{
    color: var(--titulo);
    font-size: 2.1rem;
}

.secoes p{
    color: var(--texto);
    font-size: 1.2rem;
}
.secoes li{
    color: var(--texto);
    font-size: 1.2rem;
}
.secoes h4 {
    color: var(--texto);
    margin-bottom: 0rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}

#teciten{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap; 
}

.itenstec{
 background-color: var(--itens);
 border-radius: 20px;
 padding: 10px;
 height: 8rem;
 width: 15%;
}
.itenstec p{
    color: var(--titulo);
    font-weight: 800;
    font-size: medium;
    text-align: center;
}

/* --------------------------------------------------------- SLIDE SHOW --------------------------------------------*/
#carrossel-container {
    overflow: hidden; 
    position: relative; 
}

.janela-carrossel {
    width: 100%;
    display: flex; 
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}

.imgcarrossel {
    min-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcarrossel img {
    max-width: 100%; 
    height: auto; 
}

/* --------------------------------------------------------- FOOTER --------------------------------------------*/

footer {
    background-color: var(--header); 
    color: white; 
    padding: 30px 20px;
    text-align: center;
    box-sizing: border-box;
}

.footer-content {
    max-width: 1100px; 
    margin: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-logo img {
    width: 9rem;
    height: auto;
}
.footer-info p {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.6);
}


    /*------------------------------------------- header responsivo -----------------------------------------*/

@media (max-width: 768px) { 
    
    header {
        justify-content: space-between; 
        padding: 5px 20px; 
    }

    .logo {
        padding-left: 0; 
    }


    .hamburger-menu {
        display: block;
        
    }

    .nav-links {
        display: flex; 
        flex-direction: column; 
        background-color: var(--header); 
        position: fixed; 
        top: 0;
        right: -100%; 
        width: 70%; 
        height: 100%; 
        padding-top: 80px; 
        transition: right 0.3s ease-in-out; 
        z-index: 2; 
        box-shadow: -5px 0 15px rgba(0,0,0,0.2);
    }

    .nav-links.active {
        right: 0; 
    }

    .nav-links ul {
        flex-direction: column; 
        padding: 0;
        gap: 20px; 
        text-align: center;
        width: 100%; 
    }

    .nav-links ul li {
        width: 100%; /
    }

    .nav-links ul li a {
        font-size: 1.1rem; 
        display: block; 
        color: white; 
    }

    .nav-links ul li a:hover {
        color: rgba(102, 94, 137, 1);
    }

    
    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0; 
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); 
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); 
    }
}
    