:root {
  --header: rgba(34, 29, 63, 1);
  --standart:rgba(255, 255, 255, 0.94);
  --texto: #616161;
  --titulo: rgba(34, 29, 63, 1);
}

body.darkcolors{
  --header: rgba(34, 29, 63, 1);
  --standart: rgba(26, 25, 38, 1);
  --texto: rgba(182, 182, 182, 1);
  --titulo:rgba(243, 242, 248, 1);
}

body.blackcolors{
  --header:rgba(14, 10, 38, 1);
  --standart: black;
  --texto:rgb(177, 177, 177);
  --titulo:rgb(226, 226, 226);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--standart)
}

/* --------------------------------------------------------- HEADER -------------------------------------------*/
header{
  background-color: var(--header);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  top: 0;
}
/* -------------------- LOGO --------------------*/
.logo{
    display: flex;
    align-items: center;
    width: 5px;
    padding-left: 5px;
}

/* -------------------- NAV --------------------*/
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 100px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li :hover{
    color: rgba(102, 94, 137, 1);
}

/* -------------------- TEMAS --------------------*/
.temas{
    background-color: rgba(102, 94, 137, 1);
    border-radius: 30px;
    padding: 4px 10px 1px;
}
header button{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
#dark-mode{background-color:rgba(10, 3, 50, 1) }
#standart-mode{background-color: white}
#black-mode{background-color: black;}

/* ----------------------------------------------------------- HOME --------------------------------------------*/
#home{
    padding-top: 5rem;
    background-color: var(--header);
    color: #D9D9D9;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/* -------------------- TEXTOS --------------------*/
#titulo{
margin-top: 6rem;
margin-bottom: 3rem;
}

.textohome{
    font-size:4rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-weight: 9;
}

#subtitulo{
    font-size: 1.5rem;
    font-weight: 9;
    color: rgba(211, 210, 210, 1);
    margin-bottom: 5rem;
    margin-top: 0.5rem;

}

/* -------------------- QUIZ REDIRECT --------------------*/
#quizbotao{
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    border-radius: 40px;
    width: 25%;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
    color: var(--header);
    
}
#quiz{
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-style: none;
    background-color: var(--header);
    
}


/* --------------------------------------------------------- SEÇÕES --------------------------------------------*/
.secoes{
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
  border-bottom: 1px solid #ccc;
}

.secoes h2{
    color: var(--titulo);
}

.secoes p{
    color: var(--texto);
}
.secoes li{
    color: var(--texto);
}
.secoes h4 {
    color: var(--texto);
    margin-bottom: 0rem;
    margin-top: 2rem;
}